/* Layout */
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.5em;
}
.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 15em;
  margin-left: 10em;
  padding-left: 5em;
}
.hero-image {
  height: 562px;
  width: 398px;
  border-radius: 1000px;
  margin-right: 4em;
  margin-top: 10em;
}

/* ChILD STYLES */
.hero-title {
  font-family: "Outfit" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: -1em;
  /* or 300% */

  color: #589195;
}
.hero-description {
  font-family: "Outfit" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0;
  /* or 120% */

  color: #3a415c;
}
.hero-paragraph {
  font-family: "Work Sans" sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 3em;
  padding-right: 9em;
  /* or 156% */

  color: #707686;
}
.btn {
  width: 170px;
  height: 50px;
  background: #589195;
  border-radius: 38px;
  border: none;
  text-align: center;
}
.btn-text {
  font-family: "Outfit" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
